@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@400&display=swap');
// font-family: , sans-serif;
html,
body,#__next {
  padding: 0;
  margin: 0;
  font-family:'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
}
button{
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family:'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}
img{
  display: block;
  max-width: 100%;
}
ul{
  list-style: none;
  li{
    word-break: break-word;
  }
}
input{
 
  font: inherit;
  &:focus{
    outline: none;
    border: 1px dashed rgb(82, 82, 82);
    border-radius: 2px;
  }
}
:root{

  --accent-bg: linear-gradient(30deg, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  // --accent-bg: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  // background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
// --accent-bg: linear-gradient(180deg, #2af598 0%, #009efd 100%);
// : red;
}