@use './_m';

.main {
	display: grid;

	height: 100vh;

	grid-template-columns: [sidebar] 200px [main] 1fr;
	grid-template-rows: [userpanel] 100px [main] 1fr [footer] auto;

	.userPanel {
		display: flex;
		align-items: center;
		justify-content: space-around;

		grid-area: userpanel / sidebar;

		img {
			border-radius: 50%;
		}

		button {
			color: rgba(0, 0, 0, 0.7);
			background: snow;

			@include m.btn;

			&:hover {
				color: snow;
				background: var(--accent-bg);

				// @include m.btn;
			}
		}

	}

	.taskPanel {
		grid-area: userpanel / main;
	}

	.notLogged {
		// display: grid;

		display: flex;

		// height: 100%;

		flex-direction: column;

		// display: block;
		// grid-area:   1 / -1/ main / main ;

		grid-column: 1/-1;
		grid-row: main;

		// justify-content: center;

		place-self: center;

		button {
			margin-top: 50px;

			@include m.btn;

			// cursor: pointer;
			// // margin: 0 auto;
			// padding:5px;
			// border: 1px solid #ccc;
			// border-radius: 2px;
			// background: var(--accent-bg);
			// color: snow;
			// &:hover {
			// // &.control{
			// // 	color:white;
			// // }
			// // svg {
			// // 	opacity: 1;
			// // }
			// position: relative;
			// &::after{
			// content: "";
			// position: absolute;
			// inset: 0;
			// background: rgba(180, 180, 180, 0.2);
			// }
			// }
		}
	}

	.taskGroups {
		grid-area: main / sidebar;
overflow: scroll;
		li {
			input{
				 width: 100%;
			}
			display: flex;
			align-items: center;
			justify-content: space-between;

			margin: 0px 10px;
			padding: 5px;

			cursor: pointer;

			border-radius: 2px;

			&.selected {
				background: rgba(180, 180, 180, 0.3);
			}

			svg {
				transition: opacity 0.5 ease;

				opacity: 0;
			}

			&.control,
			&.selected {
				svg {
					opacity: 1;
				}
			}

			&.control {
				margin-bottom: 20px;

				color: snow;
				background: var(--accent-bg);
				// position: sticky;
				// top:0px;
				// z-index: 100;
			}

			&:hover {
				position: relative;

				// &.control{
				// color:white;
				// }

				svg {
					opacity: 1;
				}

				&::after {
					position: absolute;
z-index: -1;
					content: '';

					background: rgba(180, 180, 180, 0.2);

					inset: 0;
				}
			}
		}
	}

	.tasks {
		overflow: scroll;
		grid-area: main / main;
		li{
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			border-bottom: 1px solid rgba(204, 204, 204, 0.3);
			p{
				cursor:default;
			}
			input{
				&:only-child{

					width: 100%;
				}
				&:checked{
					accent-color: #395faa;
				}
				margin-right: 10px;
			}

		}
	}

	.newTask {
		grid-area: footer / main;

		input {
			width: 100%;
		}
	}

	.loader {
		z-index: 100;

		display: grid;

		width: 100%;
		height: 100%;

		pointer-events: none;

		background: rgba(255, 255, 255, 0.418);

		grid-row: 1/-1;
		grid-column: 1/-1;

		.base,
		.orbit {
			width: 100%;

			grid-row: 1/-1;
			grid-column: 1/-1;
			place-self: center;
		}

		.base {
			width: 290px;
			height: 290px;

			animation: move 3s linear infinite alternate;

			border-radius: 50%;
			background: linear-gradient(
				300.11deg,
				#4154ff 15.78%,
				rgba(255, 0, 0, 0.219) 87.39%
			);
			background-position: bottom right;
			background-size: 1000% 1000%;
		}

		@keyframes move {
			to {
				background-position: top left;

				// background: linear-gradient(
				// 0deg,
				// #4154FF 15.78%,
				// rgba(255, 0, 0, 0.219) 87.39%
				// );
			}
		}
	}
	.notasks{
		// margin: 0 auto;
		height: 100%;
		//  margin: auto 0;
		display: flex;
		align-items: center;
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		 font-family: 'Open Sans Condensed', sans-serif;
		 color:rgba(0, 0, 0, 0.5);
		 user-select: none;

	}
}

.main.folded{
@include m.folded;
}